.logo {
    width: 70px;
    border-radius: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #e53939;
    font-weight: 500;
    margin-left: 40px;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #e53939;
    transition: .3s;
}

.navbar a:hover:before {
    width: 100%;
}