.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #000;
}

.logo {
    width: 70px;
    border-radius: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

a {
    position: relative;
    font-size: 18px;
    color: #e53939;
    font-weight: 600;
    margin-left: 15px;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}

li {
    list-style: none;
}


.nav-toggler div {
    width: 2.3rem;
    height: 0.1rem;
    margin: 0.4rem;
    background: #e53939;
    transition: 0.4s ease-in;
}

.nav-toggler {
    display: none;
    cursor: pointer;
}

@media (max-width:1001px) {
    .nav-toggler {
        display: block;
    }

    .nav-menu {
        position: absolute;
        top: 5rem;
        right: 0;
        width: 50vw;
        height: 40vh;
        border-radius: 5px;
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.6s ease-in;
    }
}

.nav-active {
    transform: translateX(0);
    background: #fff;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
}

@media (max-width:430px) {
    .header {
        width: 110%;
        left: -22px;
    }

    a {
        margin-left: 0;
    }
}

@media (max-width:360px) {
    .nav-menu {
        height: 42vh;
    }
}