.container-about {
    background-color: #fff;
    box-shadow: 1px 1px 5px 20px #fff;
}

.container-p {
    padding: 50px;
}

.about-h1 {
    color: #e53939;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.about-p {
    color: #000;
    font-size: 20px;
    width: 400px;
}

span {
    color: #e53939;
}

.img-computer {
    width: 400px;
    margin-left: 55rem;
    margin-bottom: -30rem;
    border-radius: 50px;
    box-shadow: 0px 0px 70px 15px #000;
}

@media (max-width:1189px) {
    .about-p {
        width: 370px;
    }

    .img-computer {
        width: 370px;
        margin-left: 45rem;
    }
}

@media (max-width:1135px) {
    .img-computer {
        margin-left: 40rem;
    }
}

@media (max-width:1050px) {
    .img-computer {
        margin-left: 38rem;
    }
}

@media (max-width:1000px) {
    .img-computer {
        margin-left: 35rem;
    }
}

@media (max-width:912px) {
    .img-computer {
        margin-left: 30rem;
    }
}

@media (max-width:853px) {
    .img-computer {
        margin-left: 28rem;
        box-shadow: 0px 0px 50px 0px #000;
    }
}

@media (max-width:823px) {

    .img-computer {
        margin-left: 29rem;
        width: 19rem;
        margin-bottom: -24rem;
    }
}

@media (max-width:540px) {
    .about-h1 {
        margin-top: 9rem;
    }
}

@media (max-width:430px) {
    .img-computer {
        display: none;
    }
}

@media (max-width:415px) {
    .container-p {
        padding: 32px;
    }
}

@media (max-width:390px) {
    .container-p {
        padding: 15px;
    }
}

@media (max-width:375px) {
    .container-p {
        padding: 5px;
    }
}

@media (max-width:360px) {
    .about-p {
        width: 353px;
    }
}