.container-person {
	background-color: #fff;
}

.caixa-person {
	display: flex;
	justify-content: space-evenly;
	gap: 30px;
	padding: 50px;
	margin-top: 10rem;
}

.person-h1 {
	color: #e53939;
	margin-top: 15px;
	font-size: 2rem;
	width: 400px;
	margin-left: 33rem;
}

.person-p {
	width: -webkit-fill-available;
	font-size: x-large;
	box-shadow: 1px 0px 150px 10px #e53939;
	border-radius: 15px;
}

*::before,
*::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.person-p {
	position: relative;
	z-index: 0;
	display: flex;
	justify-content: space-evenly;
	gap: 30px;
	padding: 50px;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-weight: bold;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		top: 29%;
		width: 120%;
		height: 60%;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(180deg, #e53939, #000);
		animation: rotate 4s linear infinite;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;

	}
}

@media (max-width:1189px) {
	.person-h1 {
		margin-left: 25rem;
	}

	.person-p {
		padding: 30px;
	}
}

@media (max-width:1050px) {
	.person-h1 {
		margin-left: 20rem;
	}
}

@media (max-width:853px) {
	.person-h1 {
		margin-left: 14rem;
	}
}

@media (max-width:823px) {
	.person-h1 {
		margin-left: 14rem;
	}
}

@media (max-width:430px) {
	.person-h1 {
		margin-left: 1rem;
	}

	.caixa-person {
		display: inline-block;
		width: 27rem;
		margin-top: 3rem;
	}
}

@media (max-width:390px) {
	.person-h1 {
		margin-left: 0rem;
	}

	.caixa-person {
		margin-left: -1rem;
	}
}

@media (max-width:375px) {
	.person-h1 {
		margin-left: -7px;
	}

	.caixa-person {
		margin-left: -26px;
	}
}

@media (max-width:360px) {
	.person-h1 {
		margin-left: -16px;
	}

	.caixa-person {
		margin-left: -35px;
	}
}